<h2 mat-dialog-title>{{ data ? 'Update' : 'Create new' }} Assignment</h2>

<mat-dialog-content>
    <form [formGroup]="assignmentForm">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Employee</mat-label>
            <mat-select formControlName="userId" required>
                <mat-option *ngFor="let u of users" [value]="u.id">{{ u.name }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Project</mat-label>
            <mat-select formControlName="projectId" required>
                <mat-option *ngFor="let p of projects" [value]="p.id">{{ p.name }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="pickerStart" formControlName="start" required>
            <mat-datepicker-toggle matIconSuffix [for]="pickerStart"></mat-datepicker-toggle>
            <mat-datepicker #pickerStart></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="pickerEnd" formControlName="end" required>
            <mat-datepicker-toggle matIconSuffix [for]="pickerEnd"></mat-datepicker-toggle>
            <mat-datepicker #pickerEnd></mat-datepicker>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="assignmentForm.invalid">
        {{ data ? 'Update' : 'Create' }}
    </button>
</mat-dialog-actions>
